<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32310">
        <setting label="General" type="lsep" />
        <setting type="sep" />
        <setting id="appearance.alt" type="action" label="32311" default="-" option="close" action="RunPlugin(plugin://plugin.video.htpctv/?action=artwork)" visible="!System.HasAddon(script.htmc.artwork)" />
        <setting id="appearance.1" type="select" label="32311" values="htpcTV|Xtuary" default="htpvTV" visible="System.HasAddon(script.htmc.artwork)" />
        <setting id="scrapers.timeout.1" type="slider" label="32312" default="10" range="10,60" option="int" />
        <setting type="sep" />
        <setting type="lsep" label="TV Shows Settings" />
        <setting id="trakt.user" type="text" default="" visible="false" />
        <setting id="indicators.alt" type="enum" label="32313" lvalues="32314|32315" default="1" visible="!eq(-1,)" />
        <setting id="indicators" type="enum" label="32313" lvalues="32314" default="0" visible="eq(-2,)" />
        <setting type="sep" />
        <setting id="api.language" type="select" label="32316" values="AUTO|Bulgarian|Chinese|Croatian|Czech|Danish|Dutch|English|Finnish|French|German|Greek|Hebrew|Hungarian|Italian|Japanese|Korean|Norwegian|Polish|Portuguese|Romanian|Russian|Serbian|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian" default="AUTO" />
        <setting id="providers.lang" type="select" label="32360" values="English|German|German+English|French|French+English|Polish|Polish+English|Korean|Korean+English|Russian|Russian+English" default="English" />
        <setting type="sep" />
        <setting id="flatten.tvshows" type="bool" label="32317" default="false" />
        <setting id="fanart" type="bool" label="32318" default="true" />
        <setting id="showunaired" type="bool" label="32570" default="false" />
        <setting id="unaired.identify" type="enum" label="32571" lvalues="32550|32551|32552|32553|32554|32555|32556|32557|32558|32559" default="1" />
        <setting type="sep" />
        <setting type="lsep" label="32319" />
        <setting id="movie.widget" type="enum" label="32320" lvalues="32302|32321|32322|32323|32324|32580" default="0" />
        <setting id="tv.widget.alt" type="enum" label="32325" lvalues="32302|32326|32327|32328" default="2" visible="!eq(-11,)" />  
        <setting id="tv.widget" type="enum" label="32325" lvalues="32302|32326" default="0" visible="eq(-12,)" />
        <setting id="lists.widget" type="enum" label="32329" lvalues="32302|32301" default="1" />
    </category>
    <category label="Navigation">
        <setting label="Navigation" type="lsep" />
        <setting type="sep" />
        <setting type="lsep" label="32001" />
        <setting id="navi.moviesTheaters" type="bool" label="32022" default="true" />
        <setting id="navi.moviesLatest" type="bool" label="32005" default="true" />
        <setting id="navi.moviesPopular" type="bool" label="32018" default="true" />
        <setting id="navi.moviesTrending" type="bool" label="32017" default="true" />
        <setting id="navi.moviesGenre" type="bool" label="32011" default="true" />
        <setting id="navi.moviesMales" type="bool" label="Most Popular Actors" default="true" />
        <setting id="navi.moviesFemales" type="bool" label="Most Popular Actresses" default="true" />
        <setting id="navi.moviesActors" type="bool" label="Actor Boxsets" default="true" />
        <setting id="navi.moviesBoxsets" type="bool" label="Boxsets" default="true" />
        <setting id="navi.moviesCar" type="bool" label="Car Movies" default="true" />
        <setting id="navi.moviesXmas" type="bool" label="Christmas Movies" default="true" />
        <setting id="navi.moviesKids" type="bool" label="Kid Collections" default="true" />
        <setting id="navi.moviesHero" type="bool" label="Superhero Collections" default="true" />
        <setting id="navi.moviesYears" type="bool" label="32012" default="true" />
        <setting id="navi.moviesPersons" type="bool" label="32013" default="true" />
        <setting id="navi.moviesLanguages" type="bool" label="32014" default="false" />
        <setting id="navi.moviesCertificates" type="bool" label="32015" default="true" />
        <setting id="navi.moviesVoted" type="bool" label="32019" default="true" />
        <setting id="navi.moviesBoxoffice" type="bool" label="32020" default="true" />
        <setting id="navi.moviesOscars" type="bool" label="32021" default="true" />
        <setting type="sep" />
        <setting type="lsep" label="32002" />
        <setting id="navi.tvPopular" type="bool" label="32018" default="true" />
        <setting id="navi.tvTrending" type="bool" label="32017" default="true" />
        <setting id="navi.tvGenres" type="bool" label="32011" default="true" />
        <setting id="navi.tvNetworks" type="bool" label="32016" default="true" />
        <setting id="navi.tvLanguages" type="bool" label="32014" default="false" />
        <setting id="navi.tvCertificates" type="bool" label="32015" default="true" />
        <setting id="navi.tvRating" type="bool" label="32023" default="true" />
        <setting id="navi.tvViews" type="bool" label="32019" default="true" />
        <setting id="navi.tvAiring" type="bool" label="32024" default="true" />
        <setting id="navi.tvActive" type="bool" label="32025" default="true" />
        <setting id="navi.tvPremier" type="bool" label="32026" default="true" />
        <setting id="navi.tvAdded" type="bool" label="32006" default="true" />
        <setting id="navi.tvCalendar" type="bool" label="32027" default="true" />
        <setting type="sep" />
        <setting type="lsep" label="Main Menu" />
        <setting id="navi.movies" type="bool" label="Movies" default="true" />
        <setting id="navi.tvShows" type="bool" label="TV Shows" default="true" />
        <setting id="navi.tvShows247" type="bool" label="24-7 TV Shows" default="true" />
    </category>
    <category label="32330">
        <setting label="Playback" type="lsep" />
        <setting type="sep" />
        <setting id="hosts.mode" type="enum" label="32331" lvalues="32332|32333|32334" default="1" />
        <setting id="progress.dialog" type="enum" label="32335" lvalues="32336|32337" default="0" />
        <setting id="prem.identify" type="enum" label="32572" lvalues="32550|32551|32552|32553|32554|32555|32556|32557|32558|32559" default="0" />
        <setting type="sep" />
        <setting type="lsep" label="Torrent Support Requires Real-Debrid" />
        <setting id="torrent.enabled" type="bool" label="Enable Torrent Scrapers" default="true" />
        <setting id="torrent.identify" type="enum" label="32573"  lvalues="32550|32551|32552|32553|32554|32555|32556|32557|32558|32559" default="6" />
        <setting id="torrent.min.seeders" type="slider" label="Minimum Seeders" enable="eq(-2,true)" default="10" range="1,100" option="int" />
        <setting id="torrent.sort.them.up" type="bool" label="Sort By Torrent/Premium" enable="eq(-3,true)"  default="false" />
        <setting type="lsep" label="32338" />
        <setting id="hosts.quality" type="enum" label="32339" values="4K|1440p|1080p|720p|480p" default="0" />
        <setting id="autoplay.sd" type="bool" label="32340" default="false" />
        <setting id="hosts.captcha" type="bool" label="32341" default="false" />
        <setting id="hosts.sort.provider" type="bool" label="32342" default="false" />
        <setting id="HEVC" type="bool" label="32363" default="true" />
        <setting id="debrid.only" type="bool" label="Debrid Sources Only" default="false" />
        <setting type="sep" />
        <setting type="lsep" label="32343" />
        <setting id="bookmarks" type="bool" label="32344" default="true" />
        <setting type="sep" />
        <setting type="lsep" label="32372" />
        <setting id="crefresh" type="bool" label="32373" default="false" />
    </category>
    <category label="32345">
        <setting label="English Providers" type="lsep" />
        <setting type="sep" />
        <setting id="provider.2ddl" type="bool" label="2DDL" default="true" />
        <setting id="provider.0123movies" type="bool" label="0123MOVIES" default="true" />
		<setting id="provider.123fox" type="bool" label="123FOX" default="false" />
		<setting id="provider.123freemovies" type="bool" label="123FREEMOVIES" default="true" />
		<setting id="provider.123hbo" type="bool" label="123HBO" default="true" />
        <setting id="provider.123hulu" type="bool" label="123HULU" default="false" />
        <setting id="provider.123movies" type="bool" label="123MOVIES" default="true" />
		<setting id="provider.123moviesc" type="bool" label="123MOVIESC" default="true" />
		<setting id="provider.123movieser" type="bool" label="123MOVIESER" default="true" />
		<setting id="provider.123moviesex" type="bool" label="123MOVIESEX" default="true" />
		<setting id="provider.123moviesfreenow" type="bool" label="123MOVIESFREENOW" default="true" />
		<setting id="provider.123moviesto" type="bool" label="123MOVIESTO" default="true" />
		<setting id="provider.123netflix" type="bool" label="123NETFLIX" default="true" />
		<setting id="provider.123rarbg" type="bool" label="123RARBG" default="false" />
		<setting id="provider.123yts" type="bool" label="123YTS" default="true" />
		<setting id="provider.300mbfilms" type="bool" label="300MBFILMS" default="true" />
		<setting id="provider.321movies" type="bool" label="321MOVIES" default="true" />
        <setting id="provider.1123movies" type="bool" label="1123MOVIES" default="true" />
		<setting id="provider.123123movies" type="bool" label="123123MOVIES" default="true" />
		<setting id="provider.animetoon" type="bool" label="ANIMETOON" default="true" />
        <setting id="provider.bestmoviez" type="bool" label="BESTMOVIEZ" default="true" />
		<setting id="provider.bestrls" type="bool" label="BESTRLS" default="true" />
		<setting id="provider.bmovies" type="bool" label="BMOVIES" default="true" />
		<setting id="provider.bnwmovies" type="bool" label="BNWMOVIES" default="true" />
		<setting id="provider.bob" type="bool" label="BOB" default="true" />
		<setting id="provider.bobmovies" type="bool" label="BOBMOVIES" default="true" />
		<setting id="provider.cartoonhd" type="bool" label="CARTOONHD" default="true" />
		<setting id="provider.cartoonwire" type="bool" label="CARTOONWIRE" default="true" />
		<setting id="provider.cinemamega" type="bool" label="CINEMAMEGA" default="false" />
		<setting id="provider.coolmoviezone" type="bool" label="COOLMOVIEZONE" default="true"/>
        <setting id="provider.cutemovie" type="bool" label="CUTEMOVIE" default="false" />
		<setting id="provider.darewatch" type="bool" label="DAREWATCH" default="false" />
        <setting id="provider.directdl" type="bool" label="DIRECTDL" default="true" />
        <setting id="provider.divxcrawler" type="bool" label="DIVXCRAWLER" default="true" />
		<setting id="provider.ddlvalley" type="bool" label="ddlvalley" default="true" />
        <setting id="provider.flixanity" type="bool" label="FLIXANITY" default="true" />
        <setting id="provider.fmovies" type="bool" label="FMOVIES" default="true" />
		<setting id="provider.freeputlocker" type="bool" label="FREEPUTLOCKER" default="true" />
        <setting id="provider.freefmovies" type="bool" label="FREEFMOVIES" default="true" />
        <setting id="provider.gogoanime" type="bool" label="GOGOANIME" default="true" />
		<setting id="provider.gomovies" type="bool" label="GOMOVIES" default="true" />
		<setting id="provider.gowatchseries" type="bool" label="GOWATCHSERIES" default="true" />
        <setting id="provider.hackimdb" type="bool" label="HACKIMDB" default="true" />
		<setting id="provider.hd" type="bool" label="HD" default="false" />
		<setting id="provider.hdmto" type="bool" label="HDMTO" default="true" />
		<setting id="provider.hdpopcorns" type="bool" label="HPPOPCORNS" default="true" />
		<setting id="provider.icefilms" type="bool" label="ICEFILMS" default="true" />
		<setting id="provider.icefilmsis" type="bool" label="ICEFILMSIS" default="true" />
		<setting id="provider.iwantmyshow" type="bool" label="IWANTMYSHOW" default="true" />
		<setting id="provider.iwatchflixxyz" type="bool" label="IWATCHFLIXXYZ" default="true" />
        <setting id="provider.kattv" type="bool" label="KATTV" default="false" />
        <setting id="provider.l23movies" type="bool" label="L23MOVIES" default="true" />
        <setting id="provider.m4u" type="bool" label="M4U" default="true" />
        <setting id="provider.m4ufree" type="bool" label="M4UFREE" default="true" />
        <setting id="provider.movie4kis" type="bool" label="MOVIE4KIS" default="true" />
		<setting id="provider.movie4kto" type="bool" label="MOVIE4KTO" default="false" />
		<setting id="provider.movie4unblocked" type="bool" label="MOVIE4UNBLOCKED" default="true" />
		<setting id="provider.movieon" type="bool" label="MOVIEON" default="false" />
		<setting id="provider.movies123" type="bool" label="MOVIES123" default="false" />
        <setting id="provider.moviesonline" type="bool" label="MOVIESONLINE" default="false" />
		<setting id="provider.moviesonlinefm" type="bool" label="MOVIESONLINEFM" default="false" />
		<setting id="provider.moviesplanet" type="bool" label="MOVIESPLANET" default="true" />
        <setting id="provider.mycouchtuner" type="bool" label="MYCOUCHTUNER" default="true" />
        <setting id="provider.myprojectfreetv" type="bool" label="MYPROJECTFREETV" default="true" />
		<setting id="provider.myputlocker" type="bool" label="MYPUTLOCKER" default="true" />
        <setting id="provider.myseriesfree" type="bool" label="MYSERIESFREE" default="true" />
		<setting id="provider.myvideolink" type="bool" label="MYVIDEOLINK" default="true" />
		<setting id="provider.netflixlogin" type="bool" label="NETFLIXLOGIN" default="false" />
		<setting id="provider.odb" type="bool" label="ODB" default="true" />
        <setting id="provider.openloadmovies" type="bool" label="OPENLOADMOVIES" default="true" />
		<setting id="provider.ororo" type="bool" label="ORORO" default="true" />
        <setting id="provider.plocker" type="bool" label="PLOCKER" default="true" />
        <setting id="provider.popcorn" type="bool" label="POPCORN" default="true" />
        <setting id="provider.primewire" type="bool" label="PRIMEWIRE" default="true" />
        <setting id="provider.pron" type="bool" label="PRON" default="true" />
		<setting id="provider.pubfilmto" type="bool" label="PUBFILMTO" default="true" />
        <setting id="provider.putlockerfree" type="bool" label="PUTLOCKERFREE" default="true" />
		<setting id="provider.putlockeronl" type="bool" label="PUTLOCKERONL" default="true" />
		<setting id="provider.putlockerris" type="bool" label="PUTLOCKERRIS" default="true" />
		<setting id="provider.putlockers" type="bool" label="PUTLOCKERS" default="false" />
        <setting id="provider.rlsbb" type="bool" label="RLSBB" default="true" />
        <setting id="provider.rlsscn" type="bool" label="RLSSCN" default="true" />
        <setting id="provider.seehd" type="bool" label="SEEHD" default="true" />
        <setting id="provider.series9" type="bool" label="SERIES9" default="true" />
        <setting id="provider.seriesfree" type="bool" label="SERIESFREE" default="true" />
        <setting id="provider.seriesonline" type="bool" label="SERIESONLINE" default="true" />
        <setting id="provider.sharemovies" type="bool" label="SHAREMOVIES" default="false" />
		<setting id="provider.soaptv" type="bool" label="SOAPTV" default="true" />
		<setting id="provider.sockshare" type="bool" label="SOCKSHARE" default="false" />
        <setting id="provider.solarmovie" type="bool" label="SOLARMOVIE" default="true" />
		<setting id="provider.solarmovieunblock" type="bool" label="SOLARMOVIEUNBLOCK" default="true" />
		<setting id="provider.solarmoviez" type="bool" label="SOLARMOVIEZ" default="true" />
		<setting id="provider.streamcr" type="bool" label="STREAMCR" default="true" />
		<setting id="provider.streamlord" type="bool" label="STREAMLORD" default="true" />
		<setting id="provider.sunmovies" type="bool" label="SUNMOVIES" default="false" />
		<setting id="provider.swatchseries" type="bool" label="SWATCHSERIES" default="true" />
        <setting id="provider.tvbox" type="bool" label="TVBOX" default="true" />
        <setting id="provider.tvdownload" type="bool" label="TVDOWNLOAD" default="true" />
        <setting id="provider.ultrahd" type="bool" label="ULTRAHD" default="true" />
		<setting id="provider.videoscraper" type="bool" label="VIDEOSCRAPER" default="true" />
        <setting id="provider.watchepisodes4" type="bool" label="WATCHEPISODES4" default="true" />
		<setting id="provider.watchfreez" type="bool" label="WATCHFREEZ" default="false" />
        <setting id="provider.watchonline" type="bool" label="WATCHONLINE" default="true" />
        <setting id="provider.watchseries" type="bool" label="WATCHSERIES" default="true" />
		<setting id="provider.watchserieshd" type="bool" label="WATCHSERIESHD" default="true" />
		<setting id="provider.watchseriesru" type="bool" label="WATCHSERIESRU" default="true" />
        <setting id="provider.weseries" type="bool" label="WESERIES" default="true" />
		<setting id="provider.wrzcraft" type="bool" label="WRZCRAFT" default="true" />
        <setting id="provider.xmovies8fm" type="bool" label="XMOVIES8FM" default="false" />
        <setting id="provider.xmovies8io" type="bool" label="XMOVIES8IO" default="false" />
		<setting id="provider.xmovies8pl" type="bool" label="XMOVIES8PL" default="true" />
        <setting id="provider.ymovies" type="bool" label="YMOVIES" default="true" />
        <setting label="Torrent Providers" type="lsep" /> 
        <setting id="provider.eztv" type="bool" label="EZTV" default="true" /> 
        <setting id="provider.glodls" type="bool" label="GLODLS" default="true" /> 
        <setting id="provider.kickass2" type="bool" label="KICKASS2" default="true" /> 
        <setting id="provider.limetorrents" type="bool" label="LIMETORRENTS" default="true" />
        <setting id="provider.magnetdl" type="bool" label="MAGNETDL" default="true" /> 
        <setting id="provider.piratebay" type="bool" label="PIRATEBAY" default="true" /> 
        <setting id="provider.torrentapi" type="bool" label="TORRENTAPI" default="true" /> 
        <setting id="provider.torrentdownloads" type="bool" label="TORRENTDOWNLOADS" default="true" /> 
        <setting id="provider.yify" type="bool" label="YIFY" default="true" /> 
        <setting id="provider.zoogle" type="bool" label="ZOOGLE" default="true" /> 
    </category>
    <category label="32346">
        <setting label="Accounts" type="lsep" />
        <setting type="sep" />
        <setting type="lsep" label="Automatically Track TV Shows and Movies You're Watching" />
        <setting type="lsep" label="Sign up for free at https://trakt.tv/auth/join" />
        <setting id="trakt.username" type="action" label="Trakt Authorization..." option="close" action="RunPlugin(plugin://plugin.video.htpctv/?action=authTrakt)" />
        <setting id="trakt.token" type="text" option="hidden" visible="false" label="" default="" />
        <setting id="trakt.refresh" type="text" option="hidden" visible="false" label="" default="" />
        <setting type="sep" />
        <setting type="lsep" label="32538" />
        <setting type="lsep" label="32539" />
        <setting id="open_smu_settings" type="action" label="32540" enable="true" option="close" action="RunPlugin(plugin://plugin.video.htpctv/?action=smuSettings)" />
        <setting type="sep" />
        <setting type="lsep" label="Personal API keys provide quicker API responses" />
        <setting type="lsep" label="Sign up for free at https://www.themoviedb.org/account/signup" />
        <setting id="tm.user" type="text" option="hidden" label="TMDb API Key..." default="" />
        <setting type="sep" />
        <setting type="lsep" label="Stream Movies and TV Shows from your Personal IMDb Lists" />
        <setting type="lsep" label="Sign up for free at https://www.imdb.com/registration/signin" />
        <setting id="imdb.user" type="text" label="IMDb User ID #..." default="" />
        <setting type="sep" />
        <setting type="lsep" label="Personal API keys provide quicker API responses" />
        <setting type="lsep" label="Become a VIP member for many benefits at: https://fanart.tv/vip" />
        <setting id="fanart.tv.user" type="text" option="hidden" label="Fanart.tv API Key..." default="" />
        <setting type="sep" />
        <setting type="lsep" label="Moviesplanet.is" />
        <setting id="moviesplanet.user" type="text" label="32303" default="" />
        <setting id="moviesplanet.pass" type="text" option="hidden" label="32307" default="" />
        <setting type="sep" />
        <setting type="lsep" label="Streamlord.com" />
        <setting id="streamlord.user" type="text" label="32303" default="" />
        <setting id="streamlord.pass" type="text" option="hidden" label="32307" default="" />
        <setting type="sep" />
        <setting type="lsep" label="Ororo.tv" />
        <setting id="ororo.user" type="text" label="32304" option="hidden" default="" />
        <setting id="ororo.pass" type="text" option="hidden" label="32307" default="" />
        <setting type="sep" />
        <setting type="lsep" label="Seriesever.net" />
        <setting id="seriesever.user" type="text" label="32303" default="" />
        <setting id="seriesever.pass" type="text" option="hidden" label="32307" default="" />
    </category>
    <category label="32347">
        <setting label="Downloads" type="lsep" />
        <setting type="sep" />
        <setting id="downloads" type="bool" label="32348" default="false" />
        <setting type="sep" />
        <setting id="movie.download.path" type="folder" label="32349" enable="!eq(-2,false)" default="" />
        <setting id="tv.download.path" type="folder" label="32350" enable="!eq(-3,false)" default="" />
        <setting type="lsep" label="[CR]" />
        <setting type="lsep" label="32351" />
        <setting type="lsep" label="32352" />
    </category>
    <category label="32353">
        <setting label="Subtitles" type="lsep" />
        <setting type="sep" />
        <setting id="subtitles" type="bool" label="32354" default="false" />
        <setting id="subtitles.utf" type="bool" label="32355" enable="!eq(-2,false)" default="false" />
        <setting type="sep" />
        <setting id="subtitles.lang.1" type="select" label="32356" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
        <setting id="subtitles.lang.2" type="select" label="32357" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
        <setting type="lsep" label="[CR]" />
        <setting type="lsep" label="32358" />
        <setting type="lsep" label="32359" />
    </category>
    <category label="32920">
        <setting label="Library" type="lsep" />
        <setting type="sep" />
        <setting id="movie_library" type="folder" label="32922" default="special://userdata/addon_data/plugin.video.htpctv/Movies" />
        <setting id="tv_library" type="folder" label="32923" default="special://userdata/addon_data/plugin.video.htpctv/TVShows" />
        <setting type="lsep" label="32921" />
        <setting type="sep" />
        <setting id="service_update" type="bool" label="32924" default="true" />
        <setting id="service_notification" type="bool" label="32925" default="true" />
        <setting type="sep" />
        <setting id="update_library" type="bool" label="32926" default="true" />
        <setting id="check_library" type="bool" label="32927" default="true" />
        <setting type="sep" />
        <setting id="check_movie_link" type="bool" label="32928" default="false" />
        <setting id="check_episode_link" type="bool" label="32929" default="false" />
        <setting id="check_include_unknown" type="bool" label="32930" default="true" />
    </category>
</settings>
